footer {
  background-color: #f6f8f6;

  .inner {
    margin: 0 auto;
    max-width: 1176px;
    display: flex;
    justify-content: space-between;
    padding: 50px;


    .info {
      flex: 1;

      h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;

        span {
          color: #fab040;
        }
      }

      p {
        margin-top: 16px;
      }
    }

    .contacts {
      flex: 1;
      text-align: center;

      h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }

      .social {
        display: flex;
        justify-content: space-evenly;

        margin-top: 16px;
        padding: 0 30px;
      }

    }

    .app {
      flex: 1;
      display: flex;
      //flex-direction: column;
      align-items: start;
      gap: 15px;

      .downloads {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
      }

      .links {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 15px;
          text-decoration: underline;
          cursor: pointer;

        }
      }
    }

  }
}